<div class="bg-gradient-to-r from-blue-500 to-blue-900">
  <app-header></app-header>
  <main *ngIf="usuario | async as userData">
    <div class="py-16 flex flex-col justify-center items-center">
      <h1 class="mb-4 text-3xl text-white font-extrabold">Olá, {{userData.nomeCompleto}}</h1>
      <p class="mb-2 text-white">Seu IMC atual: {{ calcularIMC(userData.peso, userData.altura) | number:'1.1-1' }}</p>
      <p class="text-white">Situação: {{ interpretarIMC(calcularIMC(userData.peso, userData.altura)) }}</p>
      <small class="text-white">Peso atual: {{userData.peso}} | Altura: {{userData.altura}}</small>
    </div>
  </main>
</div>

<nav class="py-8 px-4 flex justify-center items-center gap-4">
  <a [routerLink]="['/insulina']" class="p-8 text-center rounded-md shadow-lg cursor-pointer bg-white">
    Gerenciamento de Insulina
  </a>
  <a [routerLink]="['/endocrinologia']"
     class="p-8 text-center rounded-md shadow-lg cursor-pointer bg-white">
    Dados Endocrinologia
  </a>
</nav>

<div *ngIf="usuario | async as userData" class="p-4">
  <h2 class="text-2xl font-bold mb-4 text-center">Lista de Dados de Endocrinologia</h2>
  <table class="w-full border bg-white rounded-md overflow-hidden shadow-md">
    <thead>
    <tr>
      <th class="border p-2 text-center bg-blue-500 text-white">Data</th>
      <th class="border p-2 text-center bg-blue-500 text-white">Glicose</th>
      <th class="border p-2 text-center bg-blue-500 text-white">HemoglobinaAc1</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let endocrino of userData.listaDados" class="border-b">
      <td class="border p-2 text-center">{{ endocrino.criadoEm  }}</td>
      <td class="border p-2 text-center">{{ endocrino.nivelGlicose }}</td>
      <td class="border p-2 text-center">{{ endocrino.nivelHemoglobinaAc1 }}</td>
    </tr>
    </tbody>
  </table>

  <h2 class="text-2xl font-bold mt-8 mb-4 text-center">Lista de Dados de Insulina</h2>
  <table class="w-full border bg-white rounded-md overflow-hidden shadow-md">
    <thead>
    <tr>
      <th class="border p-2 text-center bg-blue-500 text-white">Data</th>
      <th class="border p-2 text-center bg-blue-500 text-white">Insulina</th>
      <th class="border p-2 text-center bg-blue-500 text-white">Posologia</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let insulina of userData.gerenciamentosInsulina" class="border-b">
      <td class="border p-2 text-center">{{ insulina.criadoEm }}</td>
      <td class="border p-2 text-center">{{ insulina.tipoInsulina.toLowerCase() }}</td>
      <td class="border p-2 text-center">{{ insulina.posologia }}</td>
    </tr>
    </tbody>
  </table>
</div>
